#beer_line-up {
    background-color: #f8d8c5;
}
#beer_line-up .wrap2 h2{  
    color: #f08c68;
}
#beer_line-up .wrap2 h2::before{
    background-image: url(../img/beer.svg);
}
#beer_line-up .wrap2 .teb_menu ul.teb_list {  
    margin: 7rem 0;
    padding-top: 5rem;
}
#beer_line-up .wrap2 .teb_menu ul.teb_list .slick-prev,
#beer_line-up .wrap2 .teb_menu ul.teb_list .slick-next{   
    top: 57%;
}
#beer_line-up .wrap2 .teb_menu ul .slick-dots{
    bottom: -55px;
}