/* 공통스타일 class */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
body{
  font-family: 'Pretendard', sans-serif;
}
.width-full{
  width: auto;
}
.heith-full{
  height: 100%
}
html{
  height: 100%;
  font-size: 62.5%
}
.wrap{
  max-width: 1440px;
  margin: 0 auto;
}
.wrap2{
  max-width: 1200px;
  margin: 0 auto;
}
.hide{
  display: none;
}
.rbox{
  width: 300px;
  height: 300px;
  background-color: #eee;
  border-radius: 20px;
  text-align: center;
}
.bgimg{
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: 90%;
  background-position-y: 10%;
}
.padding50{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.padding100{
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.paddingB50{
  padding-bottom: 5rem;
}
.paddingB100{
  padding-bottom: 10rem;
}
.paddingT50{
  padding-top: 5rem;
}
.paddingT100{
  padding-top: 10rem;
}
.marginB50{
  margin-bottom: 5rem;
}
.marginB100{
  margin-bottom: 10rem;
}
.marginT50{
  margin-top: 5rem;
}
.marginT100{
  margin-top: 10rem;
}
.flex{
  display: flex;
}
.flex-center{
  justify-content: center
}
.flex-between{
  justify-content:space-between 
}
.flex-align-center{
  align-items: center
}
.flex-column{
  flex-direction: column;
}
.text-center{
  text-align: center;
}
.h1{
  font-size: 6rem; 
}
.h2{
  font-size: 5rem;
}
.h3{
  font-size: 4.2rem;
}
.h4{
  font-size: 3.2rem;
}
.h5{
  font-size: 2.2rem;
}
.h6{
  font-size: 2rem; 
}
.h7{
  font-size: 1.8rem; 
}
.p{
  font-size: 1.6rem;  
}
.p2{
  font-size: 1.5rem;  
}
.block{
  display: block;
}
.button{
width: 35px;
height: 35px;
border-radius: 50%;
border: none;
box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
font-size: 0;
}
.more{ 
  border: 1px solid #e2e2e2;
  border-radius: 33px;
  box-shadow: 1px 1px 12px rgba(230,193,179,.8);
  width: 75px;
  height: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
.moreall{
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding-left: 10px;
}
#musician_line-up h2::before,
#beer_line-up h2::before,
#food_line-up h2::before,
#timetable h2::before{
  content: "";
  width: 6rem;
  height: 6rem;
  display: block;
  margin-right: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}
.slick-not-css{
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.slick-not-css p{
  display: flex;
  text-align: center;
}
.slick-prev, .slick-next{
  
}