#timetable{
  background-color: #f8d8c5;
}
#timetable .wrap{
  padding-bottom: 10rem;
}
#timetable .wrap h2{
  padding-bottom: 7rem;
  color: #436884;
  display: flex;
  align-items: center;
}
#timetable .wrap h2::before{
  background-image: url(../img/calendar.svg);
}